{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered text-center">
    <div class="btn-group mb-2" role="group">
        <a href="{% url 'ip:equipments_create' %}" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>Adicionar</a>
    </div>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Departamento</th>
        <th scope="col">Equipamento</th>
        <th scope="col">Tipo</th>
        <th scope="col">IP</th>
        <th scope="col">Cadastrado</th>
        <th scope="col">Atualziado</th>
        <th scope="col">Status</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for equipment in equipments %}
    <tr>
        <th scope="row">{{equipment.id}}</th>
        <td>{{equipment.department}}</td>
        <td>{{equipment.equipment}}</td>
        <td>{{equipment.type}}</td>
        {% if equipment.ip %}
        <td>{{equipment.ip}}</td>
        {% else %}
        <td>Não Possui</td>
        {% endif %}
        <td>{{equipment.register_in|date}}</td>
        <td>{{equipment.updated_in|date}}</td>
        {% if equipment.activated %}
        <td>Ativo</td>
        {% else %}
        <td>Inativo</td>
        {% endif %}
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'ip:equipments_detail' equipment.pk %}" type="button" class="btn btn-success"><i
                        class="fas fa-eye"></i></a>
                <a href="{% url 'ip:equipments_edit' equipment.pk %}" type="button" class="btn btn-primary"><i
                        class="fas fa-edit"></i></a>
                <a href="{% url 'ip:equipments_delete' equipment.pk %}" type="button" class="btn btn-danger"><i
                        class="fas fa-trash-alt"></i></a>
            </div>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endblock content %}