{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered text-center">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Departamento</th>
        <th scope="col">IP</th>
        <th scope="col">Equipamento</th>
        <th scope="col">Tipo</th>
        <th scope="col">Cadastrado</th>
        <th scope="col">Atualizado</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{equipments.id}}</th>
        <td>{{equipments.department}}</td>
        {% if equipment.ip %}
        <td>{{equipment.ip}}</td>
        {% else %}
        <td>Não Possui</td>
        {% endif %}
        <td>{{equipments.equipment}}</td>
        <td>{{equipments.type}}</td>
        <td>{{equipments.register_in|date}}</td>
        <td>{{equipments.updated_in|date}}</td>
        {% if equipments.activated %}
        <td>Ativo</td>
        {% else %}
        <td>Inativo</td>
        {% endif %}
    </tr>
    </tbody>
</table>
<div class="card mb-2">
    <div class="p-2">
        <h3>Observações:</h3>
        <p class="about">{{equipments.warning}}</p>
    </div>
</div>
<a href="{% url 'ip:equipments_edit' equipments.pk %}" type="button" class="btn btn-outline-warning">Editar</a>
<a href="{% url 'ip:equipments' %}" class="btn btn-outline-primary">Voltar</a>
{% endblock content %}
