@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
* {
    font-family: 'Fira Sans Condensed', sans-serif;
}
.fas{
    margin:5px;
}
.far{
    margin:5px;
}