{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered text-center">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Departamento</th>
        <th scope="col">Equipamento</th>
        <th scope="col">Tipo</th>
        <th scope="col">IP</th>
        <th scope="col">Cadastrado</th>
        <th scope="col">Atualziado</th>
        <th scope="col">Ação</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for department in departments %}
    <tr>
        <th scope="row">{{department.id}}</th>
        <td>{{department.department}}</td>
        <td>{{department.equipment}}</td>
        <td>{{department.type}}</td>
        <td>{{department.ip}}</td>
        <td>{{department.register_in|date}}</td>
        <td>{{department.updated_in|date}}</td>
        {% if department.activated %}
        <td>Ativo</td>
        {% else %}
        <td>Inativo</td>
        {% endif %}
        <td>
            <a href="#" class="btn btn-success"><i class="fas fa-eye"></i></a>
            <a href="#" class="btn btn-primary"><i class="far fa-edit"></i></a>
            <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </td>
        {% empty %}
        <td scope="row">Nenhuma informação encontrada!</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endblock content %}