{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered text-center">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">IP</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for ip in list_all_ip %}
    <tr>
        <th scope="row">{{ip.id}}</th>
        <td>{{ip.ips_address}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ ip.get_absolute_url }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                <a href="{% url 'ip:edit' ip.pk %}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                <a href="{% url 'ip:delete' ip.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </div>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endblock content %}