{% extends 'base.html' %}
{% block content %}
<div class="btn-group mb-2" role="group">
    <a href="{% url 'ip:register' %}" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>Adicionar</a>
</div>
<table class="table table-bordered text-center">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">IP</th>
        <th scope="col">Cadastrado</th>
        <th scope="col">Atualizado</th>
        <th scope="col">Status</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for ip in list_all_ip %}
    <tr>
        <th scope="row">{{ip.id}}</th>
        <td>{{ip.ips_address}}</td>
        <td>{{ip.register_in|date}}</td>
        <td>{{ip.updated_in|date}}</td>
        {% if ip.activated %}
        <td>Ativo</td>
        {% else %}
        <td>Inativo</td>
        {% endif%}
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ ip.get_absolute_url }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                <a href="{% url 'ip:edit' ip.pk %}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                <a href="{% url 'ip:delete' ip.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </div>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endblock content %}