{% extends 'base.html' %}
{% block content %}
<section class="row">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Olá, Wesley Matheus!</strong> O sistema recebeu novas atualizações, veja as atualizações:
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="col card text-white bg-info m-1">
        <div class="card-header">Equipamentos</div>
        <div class="card-body">
            <h5 class="display-1">{{count_equipments}}</h5>
            <p class="text-end"><i class="fas fa-3x fa-sitemap text-white"></i></p>
        </div>
    </div>
    <div class="col card text-dark bg-white m-1">
        <div class="card-header">IP's</div>
        <div class="card-body">
            <h5 class="display-1">{{count_ip}}</h5>
            <p class="text-end"><i class="fas fa-3x fa-wifi text-success"></i></p>
        </div>
    </div>
    <div class="col card text-white bg-success m-1">
        <div class="card-header">Departamentos</div>
        <div class="card-body">
            <h5 class="display-1">{{count_departments}}</h5>
            <p class="text-end"><i class="fas fa-3x fa-building text-dark"></i></p>
        </div>
    </div>
</section>
{% endblock content %}